<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NestJs</title>
  </head>
  <body>
    <h3 style="color:#ff9100;"><%=msg%></h3>
    <p>
      swagger API：<a href="/api-docs" target="_blank">swagger API</a
      ><br />graphql API：<a href="/graphql" target="_blank">graphql</a>
    </p>
  </body>
</html>
